@import "tailwindcss";

* {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Suavidade de fontes */
body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  letter-spacing: -0.01em;
  @apply bg-slate-50 text-slate-900;
}